<div class="prev-page">
    <a routerLink="/groups/{{groupId}}/players" routerLinkActive="active">
        <mat-icon aria-label="Previous Page">navigate_before</mat-icon>
    </a>
</div>

<div class="matches-container">
    <div class="new-match" *ngIf="!matchesLoading">
        <form class="match-form" (ngSubmit)="createMatch(playerOne.value, playerTwo.value, winner.value)">
            <mat-form-field>
                <input #playerOne matInput placeholder="Player 1">
            </mat-form-field>
            <mat-form-field>
                <input #playerTwo matInput placeholder="Player 2">
            </mat-form-field>
            <mat-form-field>
                <input #winner matInput placeholder="Winner">
            </mat-form-field>

            <button mat-mini-fab>
                <mat-icon aria-label="Record Match">done</mat-icon>
            </button>
        </form>
    </div>

    <mat-table #matchesTable class="matches-table" [dataSource]="matchesDataSource"
        matSort
        matSortActive="timestamp"
        matSortDisableClear
        matSortDirection="asc"
        [hidden]="matchesLoading"
    >
        <ng-container matColumnDef="timestamp">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-icon aria-label="Time">access_time</mat-icon>
                <span>Time</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.timestamp}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="player1">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-icon aria-label="Player 1">person</mat-icon>
                <span>Player 1</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> <div class="elo-ranking">{{element.player1}}</div> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="player2">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-icon aria-label="Player 2">person</mat-icon>
                <span>Player 2</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> <div class="elo-ranking">{{element.player2}}</div> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="winner">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-icon aria-label="Winner">star</mat-icon>
                <span>Winner</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> <div class="elo-ranking">{{element.winner}}</div> </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="matchesDisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: matchesDisplayedColumns;"></mat-row>
    </mat-table>
    <mat-progress-spinner
        class="loading-group"
        color="primary"
        mode="indeterminate"
        *ngIf="matchesLoading"
    >
    </mat-progress-spinner>
</div>