@import '~theme.scss';

.matches-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.matches-table {
    width: 100%;

    mat-icon {
        margin-right: 5px;
    }
}

.new-match {
    margin-bottom: 50px;

    > * {
        display: inline-block;
    }
}
